<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <% if (message) { %>
        <p style="color: rgb(0, 204, 255);"><%= message %></p>
    <% } %>

    <% if (paciente) { %>

        <h1>Detalles del Paciente</h1>

        <ul>
            <li><strong>id:</strong> <%= paciente.id %></li>
            <li><strong>Nombre:</strong> <%= paciente.nombre %></li>
            <li><strong>Apellidos:</strong> <%= paciente.apellidos %></li>
            <li>
                <strong>Fecha de nacimiento:</strong>
                <%= new Date(paciente.fechaNacimiento).toISOString().slice(0, 10) %>
            </li>
        </ul>

    <% } else { %>

        <p>No se encontró el paciente solicitado.</p>

    <% } %>

    <a href="/">Volver al listado</a>

</body>
</html>
